* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #13101b;
  &__container {
    width: 90%;
  }
}

.filterList {
  width: 100%;
  display: flex;
  justify-content: center;
  &__container {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
}



.list {
  width: 80%;
  display: flex;
  justify-content: center;
}
.cardList {
  width: 100%;
  justify-content: center;
}

.cardList {
  width: 100%;
  justify-content: center;

 

  
}
 .pagination {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 425px) {
    .filterList__container{
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .containerSideBar{
      
    }
    .list{
      width: 100%;
    }
    .footer {
      margin-top: 210px;
    }
  }