* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #13101b;
  &__container {
    width: 90%;
  }
}

.filterList {
  width: 100%;
  display: flex;
  justify-content: center;
  &__container {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
}

.sideBar {
  width: 20%;
}

.list {
  width: 80%;
  display: flex;
  justify-content: center;
}
.cardList {
  width: 100%;
  justify-content: center;
}

.cardList {
  width: 100%;
  justify-content: center;

  .pagination {
    display: flex;
    justify-content: center;
  }
  li {
    border-color: white;
  }
  .pagination {
    display: flex;
    justify-content: center;
  }
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
  }
  @keyframes animateBg {
    100% {
      filter: hue-rotate(360deg);
    }
  }
  .login-section {
    background: url("../../images/bg.jpg");
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-box {
    position: relative;
    width: 400px;
    height: 580px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    h2 {
      font-size: 2em;
      color: #fff;
      text-align: center;
    }

    .input-cont {
      width: 310px;
      margin: 20px 0;
      position: relative;

      input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        outline: none;
        font-size: 1em;
        color: #fff;
        padding-left: 5px;

        &:focus ~ label,
        &:valid ~ label {
          top: -25px;
          font-size: 0.8em;
        }
      }

      label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        color: #fff;
        pointer-events: none;
        transition: all 0.3s ease;
      }

      .icon {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: 1.2em;
      }
    }
    .remeber-forgot {
      margin: -15px 0 15px;
      font-size: 0.9em;
      color: #fff;
      display: flex;
      justify-content: space-between;

      label,
      input {
        margin-right: 3px;
      }

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .btn-card-add {
      width: 220px;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      cursor: pointer;
      border-radius: 10px;
      background-color: transparent;
      position: relative;
      z-index: 0;

      &:before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        background-size: 400%;
        filter: blur(5px);
        z-index: -1;
        border-radius: 10px;
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:hover:before {
        opacity: 1;
      }

      &:active {
        color: #000;
      }

      &:active:after {
        background: transparent;
      }
    }

    .register-link {
      p,
      a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    @media (max-width: 360px) {
      .login-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
      }
      .input-cont {
        width: 290px;
      }
    }
  }

  .login-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);

    h2 {
      font-size: 2em;
      color: #fff;
      text-align: center;
    }

    .input-cont {
      width: 310px;
      margin: 20px 0;
      position: relative;

      input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        outline: none;
        font-size: 1em;
        color: #fff;
        padding-left: 5px;

        &:focus ~ label,
        &:valid ~ label {
          top: -25px;
          font-size: 0.8em;
        }
      }

      label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        color: #fff;
        pointer-events: none;
        transition: all 0.3s ease;
      }

      .icon {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: 1.2em;
      }
    }

    .remeber-forgot {
      margin: -15px 0 15px;
      font-size: 0.9em;
      color: #fff;
      display: flex;
      justify-content: space-between;

      label,
      input {
        margin-right: 3px;
      }

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .btn-card-add {
      width: 220px;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      cursor: pointer;
      border-radius: 10px;
      background-color: transparent;
      position: relative;
      z-index: 0;

      &:before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        background-size: 400%;
        filter: blur(5px);
        z-index: -1;
        border-radius: 10px;
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:hover:before {
        opacity: 1;
      }

      &:active {
        color: #000;
      }

      &:active:after {
        background: transparent;
      }
    }

    .register-link {
      p,
      a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    @media (max-width: 360px) {
      .login-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
      }
      .input-cont {
        width: 290px;
      }
    }
  }
}
